<template>
  <b-row no-gutters>
    <b-col cols="12">
      <navigation></navigation>
    </b-col>
    <b-col cols="12">
      <Nuxt />
    </b-col>
    <b-col cols="12"> <footer-comp></footer-comp> </b-col>
  </b-row>
</template>
<script>
import Navigation from "~/components/navigation";
import FooterComp from "~/components/footer";
export default {
  components: {
    Navigation,
    FooterComp,
  },
};
</script>


