<template>
  <div>
    home
    <home-slider></home-slider>
  </div>
</template>

<script>
import HomeSlider from "~/components/home-slider";
export default {
  components: {
    HomeSlider,
  },
};
</script>



